.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: circular std;

    .nav {
            width: 500px;
            color: #FFF;
            font-family: Circular Std;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;

            .nav-ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
        
                li {
                    margin: 0 10px;
                }

                .dropdown-container {
                    position: relative;

                    img {
                        margin: 0 10px;
                    }

                    .dropdown {
                        background-image: url(../../assets/Union.svg);
                        background-repeat: no-repeat;
                        width: 238px;
                        height: 195px;
                        position: absolute;
                        right: -181px;
                        display: flex;
                        gap: 20px;
                        flex-direction: column;
                        padding: 35px 20px 20px 10px;
                        list-style: none;

                        li {
                            margin: 0 20px;
                        }
                    }
                }
            }
        }

    .btn {
        background-color: #DF6951;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 50px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }
}